{{> header}}

<div id="background">
  <div id="page">
    <div id="contents">
      <div class="box">
        <div class="body">
          <h1>Travel</h1>
          <p class="intro">Pick a getaway and explore our favorite dive sites.</p>

          <ul id="sites">
            {{#each trips}}
              <li>
                {{#if image}}
                  <a href="/travel">
                    <img src="/images/{{image}}" alt="{{name}} photo">
                  </a>
                {{/if}}

                <h2><a href="/travel">{{name}}</a></h2>

                {{#if description}}  <p>{{description}}</p>  {{/if}}
                {{#if description2}} <p>{{description2}}</p> {{/if}}

                {{#if length}} <p><strong>{{length}}</strong></p> {{/if}}
                {{#if start}}  <p>Starts {{start}}</p>             {{/if}}
                {{#if price}}  <p>From ${{price}}</p>              {{/if}}

                <!-- Optional CTA for later detail pages -->
                <!-- <p><a href="/travel/{{slug}}">Learn more</a></p> -->
              </li>
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
